@tailwind base;
@tailwind components;
@tailwind utilities;


.image-container {
    overflow: hidden;
    white-space: nowrap;
}

.image-container img {
    display: inline-block;
    /* width: 100%; Adjust width as needed */
    height: auto;
    margin-right: 10px; /* Space between images */
    animation: moveImages 15s linear infinite;
}

@keyframes moveImages {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-1900%);
    }
}



  
  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  .language-slider-animation {
    animation: moveLeft 80s linear infinite;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
  
  